div.newsletter-container {
  border-top: 0.05rem solid var(--foreground-primary);
  width: 22rem;
  height: 10rem;
  margin: 2rem auto 0;
}

form.newsletter-form {
  font-family: sans-serif;
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: .8rem 0.5rem;
}

.newsletter-form h2 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.newsletter-form h2.tiny {
  font-size: 1.3rem !important;
  text-align: center;
  width: 100%;
  margin-bottom: 0.5rem !important;
}

label[for] {
  display: block;
  padding-bottom: 0.3rem;
  color: var(--foreground-primary);
}

.newsletter-form input{
  width: 16rem;
  padding: 0.2rem 0.5rem;
  font-size: 1rem;
  border-radius: 0.25rem 0 0 0.25rem;
  border: 0.1rem solid gray;
}

.newsletter-form button {
  color: var(--foreground-primary);
  padding: 0.2rem 0.5rem;
  background: var(--background-purple);
  font-size: 1rem;
  border: 0.1rem solid gray;
  border-left: 0;
  border-radius: 0 0.25rem 0.25rem 0;
  border-color: gray gray gray var(--background-purple);
  transition: all 0.2s ease-in-out;
}

.newsletter-form button:hover {
  background: var(--foreground-primary);
  border-color: var(--foreground-primary);
  color: var(--background-primary)
}

.newsletter-form button:active,
.newsletter-form button.disabled {
  background: var(--background-primary);
  border-color: var(--background-primary);
  color: var(--foreground-primary)
}

p#email-error,
p#email-side-error {
  font-size: 0.8rem;
  font-family: sans-serif;
  margin: 0;
  text-align: center;
  padding-top: 0.5rem;
  visibility: hidden;
}

p.chimp-results {
  font-family: sans-serif;
  text-align: center;
  margin: 0;
}

.chimp-results.jsonp-success {
  color: var(--foreground-primary);
}

.chimp-results.jsonp-error {
  color: red;
}

div.newsletter-container {
  display: none;
}

div.newsletter-container.side-bar {
  display: block;
}

@media (max-width: 1050px) {
  div.newsletter-container {
    display: block;
  }
}

div.newsletter-container.always-visible {
  display: block;
}