html,
body {
  scroll-behavior: smooth;
  background-color: var(--background-primary);
  margin: 0;
  padding: 0;
  color-scheme: dark;
  /* background-image: linear-gradient(to bottom right, var(--background-darkest), var(--background-primary));
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
  background: rgb(31, 31, 34);
  scroll-padding-top: 50px;
}

main {
  margin: 3.5rem auto 0;
  /* handling the sliding header */
}

:root {
  /* --foreground-primary: #FAFAF9; */
  --foreground-primary: #e1e1e1;
  --foreground-hover: #c6c6c6;
  /* --background-primary: #18181B; */
  --background-primary: #252525;
  --background-darkest: #0C0A09;
  --background-secondary: #292524;
  --background-purple: hsl(273.6, 40%, 30%);
  --lighter-gray: #D1D5DB;
  --purple-primary: #A78BFA;
  /* #7C3AED; */
  --text-purple: #cdbeff;
  --terminal-output: #020617;
  /* slate 950 */
  --accent-primary: #FDE047;
  /* yellow 300 */
}

* {
  box-sizing: border-box;
}

.flex-list {
  padding: 2rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

kbd {
  background-color: #eee;
  border-radius: 3px;
  border: 1px solid #b4b4b4;
  box-shadow:
    0 1px 1px rgba(0, 0, 0, 0.2),
    0 2px 0 0 rgba(255, 255, 255, 0.7) inset;
  color: #333;
  display: inline-block;
  font-size: 0.85em;
  font-weight: 700;
  line-height: 1;
  padding: 2px 4px;
  white-space: nowrap;
}